.testimonials {
  h1,h2,h3,h4,h5,h6 {
    margin:0;
    font-family: 'Open Sans', sans-serif;
      font-weight: 600;
  } 
  p{
    margin:0;
  }
  ul{
    margin:0;
    padding:0;
  }
  label{
    margin:0;
  }

  #slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
  }
  .rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  .rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
  }
  .rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
  }
  .rslides_tabs li:first-child {
    margin-left: 0;
  }
  .rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
  }
  .events {
    list-style: none;
  }
  .callbacks_container {
      position: relative;
      float: left;
      width: 60%;
  }
  .callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .callbacks li {
    position: absolute;
    left: 0;
    top: 0;
  }
  .callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
  }
  .callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
  }
  .callbacks_nav {
      position: absolute;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      top: 78%;
      opacity: 0.7;
      z-index: 3;
      text-indent: -9999px;
      overflow: hidden;
      text-decoration: none;
      height:34px;
      width:34px;
      background: url("../images/left.png") no-repeat 0px 0px;
  }
  .callbacks_nav.prev {
     left: auto;
       background: image-url('w-back.png') no-repeat 0px 0px;
    left: 18em;
  }
  .callbacks_nav.next {
      left: auto;
      background: image-url('w-next.png') no-repeat 0px 0px;
      right: 18em;
  }
  .callbacks_nav:active {
    opacity: 1.0;
  }

  .callbacks2_nav:active {
    opacity: 1.0;
  }

  #slider-pager a {
    display: inline-block;
  }

  #slider-pager span {
    float: left;
  }
  #slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
  }
  #slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
  }
  #slider-pager a {
    padding: 0;
  }
  #slider-pager li {
    display: inline-block;
  }
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
  }
  .rslides li {
    position: relative;
    display: block;
    float: none;
  }
  .rslides img {
    height: auto;
    border: 0;
  }
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 80.5%;
    z-index: 999;
    left: 44.5%;
    padding: 0em 0.6em 1em 0.3em;
    margin: 0;
  }
  .callbacks_tabs li {
    display: inline-block;
    margin: 0.5em;
  }
  .callbacks_tabs a {
    visibility: hidden;
  }
  .callbacks_tabs a:after {
      content: "\f111";
      font-size: 0;
      font-family: FontAwesome;
      visibility: visible;
      width: 15px;
      height: 15px;
      display: inline-block;
      border: 5px solid rgba(0, 0, 0, 0.91);
      background: #fff;
  }
  .callbacks_here a:after {
    background:#0099e5;
  }
  p.sub-para {
      font-size: 18px;
      color: #fff;
      letter-spacing: 2px;
    font-weight: 300;
  }
  .slider-info img {
    width: 100px;
    margin: 0 auto;
  }
  .callbacks_tabs {
      list-style: none;
      position: absolute;
      top: 153%;
      left: 59%;
      padding: 0;
      margin: 0 auto;
      z-index: 990;
      display: block;
      text-align: center;
  }
  .slider-top span{
  font-weight:600;
  }
  .callbacks_tabs li{
         display: inline-block;
    margin: 0 5px;
  }
  .slider-info h3 {
      font-size: 2.6em;
      color: #fff;
      background: rgba(0, 0, 0, 0.42);
      padding: 20px;
      letter-spacing: 12px;
      margin: 16px 0;
      font-weight: 400;
      text-transform: uppercase;
  }
  .slider-info h4 {
      font-size: 1em;
      color: #dedbdb;
      letter-spacing: 1px;
      font-weight: normal;
      text-transform: uppercase;
      padding: 0.5em;
    font-weight:bold;
  }


  .head-top-w3ls {
      margin: 0 auto;
      text-align: center;
  }
  .head-top-w3ls i {
      color: #000;
      font-size: 35px;
  }
  i.white{
    color:#fff;
  }

  h5.title-w3 {
      font-size: 35px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2em;
      color: #000;
  }
  h5.head{
    color:#fff;
  }

  p.vel {
      color: #808080;
      font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 28px;
      padding: 0px 0 0;
      width: 80%;
      margin: 0 auto 50px;
      text-align: center;
  }



  #review {
      background: url('../images/test72.jpg')no-repeat 0px 0px;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  .test-agile {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      float: none;
  }
  ul#slider1 p {
      color: rgba(216, 226, 232, 0.9);
      font-size: 20px;
      line-height: 33px;
  }
  h3.title,h2.title.review {
      color:#5DD28F;
  }
  h4.text {
         background: none;
      font-size: 3em;
      text-align: center;
      color: #fff;
      text-transform: none;
      margin: 3% auto 0;
      width: 74%;
  }
  .img-agile img {
      width: 13%;
  }
  .test-monials h4 {
      font-size: 20px;
      text-align: center;
      color: $orange;
      text-transform: none;
      margin-top: 2em;
      font-weight: bold;
  }



  .test-review p {
      font-size: 16px;
      font-weight: 400;
      line-height: 2.2em;
      margin: 1em 0;
      padding: 22px 25px;
      color: #eee;
    background: rgba(165, 163, 163, 0.32);
  }
  .img-agile {
      margin: 30px 0px 12px;
  }
  .test-review p img {
      margin: 0 10px!important;
    box-shadow:none;
  }
  .test-review img {
      margin: 0 auto;
  }


  @media(max-width:1440px){
    .callbacks_tabs {
      top: 155%;
      left: 70%;
    }
  }

  @media(max-width:1280px){
    .slider-info h3 {
      font-size: 2.4em;
      letter-spacing: 10px;
    }
    .callbacks_tabs {
      top: 141%;
      left: 69%;
    }

    h5.title-w3 {
      font-size: 30px;
      margin-bottom: 1.7em;
    }
  }
  @media(max-width:1080px){
    .callbacks_container {
      width: 68%;
    }
    .slider-info h3 {
      font-size: 2.1em;
      letter-spacing: 7px;
    }
    .slider-info h4 {
      font-size: 15px;
      padding: 0em 0.3em;
    }
    .callbacks_tabs {
      top: 148%;
      left: 55%;
    }
    ul#slider1 p {
      font-size: 18px;
    }
    .callbacks_nav {
      top: 84%;
    }
    .callbacks_nav.prev {
      left: 13em;
      background-size: 24px;
    }
    .callbacks_nav.next {
      right: 12em;
      background-size: 24px;
    }
    .test-monials h4 {
      margin-top: 1.5em;
    }
  }
  @media(max-width:1050px){
    .callbacks_tabs {
      top: 148%;
      left: 50%;
    }
    h5.title-w3 {
      font-size: 28px;
      margin-bottom: 1.4em;
    }
    .head-top-w3ls i {
      font-size: 33px;
    }
  }
  @media(max-width:991px){
    .slider-info h3 {
      font-size: 2em;
      letter-spacing: 6px;
    }
    .slider-info h4 {
      font-size: 14px;
    }
    .callbacks_tabs a:after {
      width: 13px;
      height: 13px;
      border: 4.5px solid rgba(0, 0, 0, 0.91);
    }
    .callbacks_tabs {
      top: 146%;
      left: 53%;
    }
    .test-agile {
      width: 100%;
    }
  }
  @media(max-width:900px){
    .slider-info h3 {
      font-size: 29px;
      letter-spacing: 5px;
    }
    .slider-info h4 {
      font-size: 13px;
    }
    h5.title-w3 {
      font-size: 26px;
    }
  }
  @media(max-width:800px){
    .slider-info h3 {
      font-size: 28px;
      letter-spacing: 4px;
    }
    .callbacks_tabs {
      top: 132%;
      left: 47%;
    }
    h5.title-w3 {
      font-size: 25px;
    }
    ul#slider1 p {
      font-size: 16px;
    }
    .test-monials h4 {
      font-size: 18px;
    }
    .test-agile {
      width: 95%;
    }
    .head-top-w3ls i {
      font-size: 30px;
    }
  }
  @media(max-width:768px){
    .slider-info h3 {
      font-size: 26px;
      padding: 18px;
      margin: 0 0 15px 0;
    }
    .slider-info h4 {
      font-size: 12px;
    }
    .callbacks_tabs {
      top: 135%;
    }
  }
  @media(max-width:767px){
    h5.title-w3 {
      font-size: 23px;
      margin-bottom: 1.2em;
    }
  }
  @media(max-width:667px){
    .slider-info h3 {
      font-size: 24px;
      margin: 0 0 12px 0;
    }
    
    .callbacks_tabs a:after {
      width: 11px;
      height: 11px;
      border: 3.8px solid rgba(0, 0, 0, 0.91);
    }
    .callbacks_nav.prev {
      left: 12em;
      background-size: 21px;
    }
    .callbacks_nav.next {
      right: 11.5em;
      background-size: 21px;
    }
    .callbacks_nav {
      top: 86%;
    }
    li.text {
      font-size: 14px;
        margin-left: 5px;
    }
  }
  @media(max-width:640px){
    .callbacks_container {
      width: 71%;
    }
    .test-agile {
      width: 95%!important;
    }
    .callbacks_tabs {
      top: 135%;
      left: 50%;
    }
    .callbacks_nav.next {
      right: 8.5em;
    }
    .callbacks_nav.prev {
      left: 9em;
    }
  }
  @media(max-width:600px){
    .slider-info h3 {
      font-size: 22px;
      padding: 14px;
      letter-spacing: 3px;
    }
    .slider-info h4 {
      font-size: 11px;
    }
    .callbacks_tabs {
      top: 131%;
      left: 48%;
    }
    .banner {
      min-height: 315px;
    }
    h5.title-w3 {
      font-size: 21px;
    }
    .head-top-w3ls i {
      font-size: 27px;
    }
  }
  @media(max-width:568px){
    h5.title-w3 {
      font-size: 20px;
    }
    ul#slider1 p {
      font-size: 14px;
    }
    .test-monials h4 {
      font-size: 16px;
    }
  }
  @media(max-width:480px){
    .slider-info h3 {
      font-size: 19px;
    }
    .slider-info h4 {
      letter-spacing: 0;
    }
    .callbacks_container {
      width: 72%;
    }
    
    .callbacks_tabs li {
      margin: 0 2px;
    }
    .callbacks_tabs {
      top: 128%;
      left: 44%;
    }
    
    .callbacks_nav {
      top: 89%;
    }
    .callbacks_nav.prev {
      left: 7em;
    }
    .callbacks_nav.next {
      right: 6.5em;
    }
  }
  @media(max-width:414px){
    .slider-info h3 {
      font-size: 17px;
      padding: 13px;
    }
    .callbacks_container {
      width: 82%;
    }
    
    .callbacks_tabs a:after {
      width: 10px;
      height: 10px;
    }
    .callbacks_tabs li {
      margin: 0 1px;
    }
    .callbacks_tabs {
      top: 121%;
      left: 41%;
    }
    
    .callbacks_nav.next {
      right: 3.5em;
    }
    .callbacks_nav.prev {
      left: 4em;
    }
  }
  @media(max-width:384px){
    .callbacks_container {
      width: 89%;
    }
    
    .slider-info h3 {
      font-size: 16px;
      padding: 12px;
      line-height: 19px;
    }
    
    .callbacks_tabs {
      left: 37%;
    }
    
    .callbacks_nav.next {
      right: 1.5em;
    }
    .callbacks_nav.prev {
      left: 2em;
    }
    
    h5.title-w3 {
      margin-bottom: 1.1em;
    }
  }
  @media(max-width:375px){
    .callbacks_container {
      width: 90%;
    }
    
    .icon-w3 {
      height: 46px;
      width: 46px;
    }
    .icon-w3 .glyphicon {
      font-size: 16px;
      left: 0px;
      top: -1px;
    }
    
    .slider-info h3 {
      font-size: 15px;
      padding: 11px;
      line-height: 18px;
    }
  }
  @media(max-width:320px){
    .slider-info h3 {
      font-size: 14px;
      padding: 10px;
      line-height: 16px;
      letter-spacing: 2px;
      margin: 0 0 6px 0;
    }
    .callbacks_container {
      width: 84%;
    }
    .slider-info h4 {
      line-height: 14px;
    }

    .callbacks_tabs {
      left: 36%;
      top: 106%;
    }
    
    .test-agile {
      width: 99%!important;
    }
    
  }

}
